In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("assignment.csv")

In [25]:
df.head()

,Position ID,Position Status,Date,Time In,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
0,WFS000054,Active,NaN,NaN,NaN,NaN,NaN,NaN,"SiWgh, PraGhjEM",54
1,WFS000065,Active,09-12-2023,10:08:00 AM,01:53:00 PM,03:45,09-10-2023,09/23/2023,"REsaXiaWE, XAis",65
2,WFS000065,Active,09-12-2023,02:23:00 PM,07:02:00 PM,04:39,09-10-2023,09/23/2023,"REsaXiaWE, XAis",65
3,WFS000065,Active,09/13/2023,10:08:00 AM,02:20:00 PM,04:12,09-10-2023,09/23/2023,"REsaXiaWE, XAis",65
4,WFS000065,Active,09/13/2023,02:50:00 PM,08:44:00 PM,05:54,09-10-2023,09/23/2023,"REsaXiaWE, XAis",65

In [5]:
# Replace the column name 'Time' with 'Date'
#df.rename(columns={'Time': 'Date'}, inplace=True)

In [28]:
df.sort_values(['Employee Name', 'Date'], inplace=True)

In [29]:
consecutive_days = 1
previous_employee = None
previous_date = None

In [30]:
for index, row in df.iterrows():
    employee_name = row['Employee Name']
    current_date = pd.to_datetime(row['Date'])
    
    if previous_employee == employee_name:
        date_difference = (current_date - previous_date).days
        if date_difference == 1:
            consecutive_days += 1
        else:
            consecutive_days = 1
    else:
        consecutive_days = 1

    if consecutive_days == 7:
        print(f"{employee_name} has worked for 7 consecutive days.")
    
    previous_employee = employee_name
    previous_date = current_date

In [31]:
df.head(1)

,Position ID,Position Status,Date,Time In,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
1463,WFS000588,Active,09/13/2023,10:40:00 AM,03:00:00 PM,04:20,09-10-2023,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588

In [32]:
for Employee in employee_name :
    print(f"{employee_name} has worked for 7 consecutive days.")

ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.
ZaCEra, Edward has worked for 7 consecutive days.

In [33]:
df.tail(1)

,Position ID,Position Status,Date,Time In,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
726,WFS000477,Active,09/20/2023,04:00:00 PM,05:43:00 PM,01:43,09-10-2023,09/23/2023,"ZaCEra, Edward",477

In [34]:
df.sort_values(['Employee Name', 'Date', 'Time In'], inplace=True)

In [35]:
consecutive_shifts = 0
previous_employee = None
previous_end_time = None

In [36]:
employees_with_criteria = []

In [37]:
for index, row in df.iterrows():
    employee_name = row['Employee Name']
    start_time = pd.to_datetime(row['Time In'])
    
    if previous_employee == employee_name:
        time_between_shifts = (start_time - previous_end_time).total_seconds() / 3600  # in hours
        if 1 < time_between_shifts < 10:
            consecutive_shifts += 1
            if consecutive_shifts == 1:
                employees_with_criteria.append(employee_name)
        else:
            consecutive_shifts = 0
    else:
        consecutive_shifts = 0

    previous_employee = employee_name
    previous_end_time = pd.to_datetime(row['Time Out'])

In [38]:
for employee in employees_with_criteria:
    print(f"{employee} has shifts with less than 10 hours but more than 1 hour between them.")

AGeX, WaMhaW REGerM PeWa has shifts with less than 10 hours but more than 1 hour between them.
AXvarez, Edgar has shifts with less than 10 hours but more than 1 hour between them.
AXvarez, Edgar has shifts with less than 10 hours but more than 1 hour between them.
AXvarez, Edgar has shifts with less than 10 hours but more than 1 hour between them.
CAevas ZavaXa, JErge XAis has shifts with less than 10 hours but more than 1 hour between them.
CAevas ZavaXa, JErge XAis has shifts with less than 10 hours but more than 1 hour between them.
CEMMa, Jessica has shifts with less than 10 hours but more than 1 hour between them.
CEMMa, Jessica has shifts with less than 10 hours but more than 1 hour between them.
CaMaXaWE, CeghaW has shifts with less than 10 hours but more than 1 hour between them.
CaMaXaWE, CeghaW has shifts with less than 10 hours but more than 1 hour between them.
CaXdEWadE, AXfEWsE has shifts with less than 10 hours but more than 1 hour between them.
CaraGiXXa, AWMhEWy has shifts with less than 10 hours but more than 1 hour between them.
Caxies, MerreXX has shifts with less than 10 hours but more than 1 hour between them.
Caxies, MerreXX has shifts with less than 10 hours but more than 1 hour between them.
CesiWa CEreWE, KeviW FaGiaW has shifts with less than 10 hours but more than 1 hour between them.
ChaCErE, HEXger CarMiWez has shifts with less than 10 hours but more than 1 hour between them.
CiGriaW DeXgadE, EXeWa S has shifts with less than 10 hours but more than 1 hour between them.
DECiWgAez AviWa, CigAeX AWgeX has shifts with less than 10 hours but more than 1 hour between them.
DECiWgAez AviWa, CigAeX AWgeX has shifts with less than 10 hours but more than 1 hour between them.
De XEs SaWMEs, JEseph XAis has shifts with less than 10 hours but more than 1 hour between them.
DeXgadiXXE REdarMe, ChrisMiaW S has shifts with less than 10 hours but more than 1 hour between them.
EXivares, FeXCaW has shifts with less than 10 hours but more than 1 hour between them.
EXivares, FeXCaW has shifts with less than 10 hours but more than 1 hour between them.
ErMiz, AGigaiX has shifts with less than 10 hours but more than 1 hour between them.
ErMiz, AGigaiX has shifts with less than 10 hours but more than 1 hour between them.
FaGiaW CiraWda, JEse has shifts with less than 10 hours but more than 1 hour between them.
GaWks, GryaW has shifts with less than 10 hours but more than 1 hour between them.
GaWks, GryaW has shifts with less than 10 hours but more than 1 hour between them.
HAWMer, ViWceWM De PaAX has shifts with less than 10 hours but more than 1 hour between them.
HaCiXMEW, DeaWMe DevEW has shifts with less than 10 hours but more than 1 hour between them.
HaCiXMEW, DeaWMe DevEW has shifts with less than 10 hours but more than 1 hour between them.
JerEWiCE CEraXes, CarXEs D has shifts with less than 10 hours but more than 1 hour between them.
Merrazas, GriaW has shifts with less than 10 hours but more than 1 hour between them.
MraW, WiXXiaC Ha has shifts with less than 10 hours but more than 1 hour between them.
MraW, WiXXiaC Ha has shifts with less than 10 hours but more than 1 hour between them.
PaAXE, KyXe has shifts with less than 10 hours but more than 1 hour between them.
PaAXE, KyXe has shifts with less than 10 hours but more than 1 hour between them.
REdrigAez, GraWdEW AWgeX has shifts with less than 10 hours but more than 1 hour between them.
REdrigAez, GraWdEW AWgeX has shifts with less than 10 hours but more than 1 hour between them.
REsaXiaWE, XAis has shifts with less than 10 hours but more than 1 hour between them.
SMrickXaWd, REdWey EAgeWe has shifts with less than 10 hours but more than 1 hour between them.
SiWgh, JaspreeM has shifts with less than 10 hours but more than 1 hour between them.
SiWgh, MarAWpreeM has shifts with less than 10 hours but more than 1 hour between them.
Sparks, KeWWeMh has shifts with less than 10 hours but more than 1 hour between them.
VaXderraCa CasMiXXE, Escar FaGiaW has shifts with less than 10 hours but more than 1 hour between them.
ViXXa, AXfredE AieXXE has shifts with less than 10 hours but more than 1 hour between them.
ViXXa, AXfredE AieXXE has shifts with less than 10 hours but more than 1 hour between them.
XariEs XaWdaverde, XAis ErWesME has shifts with less than 10 hours but more than 1 hour between them.
XariEs XaWdaverde, XAis ErWesME has shifts with less than 10 hours but more than 1 hour between them.
Xee, XaCar has shifts with less than 10 hours but more than 1 hour between them.
Xee, XaCar has shifts with less than 10 hours but more than 1 hour between them.
ZaCEra, Edward has shifts with less than 10 hours but more than 1 hour between them.

In [39]:
long_shifts_df = df[(pd.to_datetime(df['Time In']) - pd.to_datetime(df['Time Out'])).dt.total_seconds() / 3600 > 14]

In [40]:
employees_with_long_shifts = set(long_shifts_df['Employee Name'])

In [41]:
for employee_name in employees_with_long_shifts:
    print(f"{employee_name} has worked for more than 14 hours in a single shift.")

WiXXiaCs, MyrreXX has worked for more than 14 hours in a single shift.
ErEpeza, JEvaW has worked for more than 14 hours in a single shift.
CEreira Jr, JEse has worked for more than 14 hours in a single shift.
GAeWdia, JAaW CarXEs has worked for more than 14 hours in a single shift.
XEpez WAWez, XAis has worked for more than 14 hours in a single shift.
SiWgh, CaWpreeM has worked for more than 14 hours in a single shift.
CcRAWWeX, REWaXd Xee has worked for more than 14 hours in a single shift.
HAWMer, ViWceWM De PaAX has worked for more than 14 hours in a single shift.
SaWchez, ArWAXfE has worked for more than 14 hours in a single shift.
MAake, CasiaWE has worked for more than 14 hours in a single shift.
ArevaXE, JEse has worked for more than 14 hours in a single shift.
FeXix, XeEWeX has worked for more than 14 hours in a single shift.
Arias, FeXipe has worked for more than 14 hours in a single shift.
DeXgadiXXE REdarMe, ChrisMiaW S has worked for more than 14 hours in a single shift.
SiWgh, JaspreeM has worked for more than 14 hours in a single shift.
VasqAez, AXfredE has worked for more than 14 hours in a single shift.
Xee, XaCar has worked for more than 14 hours in a single shift.
GAMierrez, PedrE CigAeX has worked for more than 14 hours in a single shift.
ErEzcE, SaAX has worked for more than 14 hours in a single shift.
AXcEcer, ECar JesAs has worked for more than 14 hours in a single shift.
REdrigAez, PedrE has worked for more than 14 hours in a single shift.
IWGEAa, JeffersEW has worked for more than 14 hours in a single shift.